/node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/k8s
/scripts
/daffigard-chart
/archive

.env
*.md
*.yml
# Browser runtime session files (all are regenerated when browser starts)
